GROQ_API_KEY= 
QDRANT_HOST=localhost 
QDRANT_PORT=6333 
QDRANT_GRPC_PORT=6334
QDRANT_COLLECTION_NAME=engineering_blueprints
ENVIRONMENT=development
LOG_LEVEL=INFO
INFERENCE_MODEL=llama-3.1-8b-instant 